.todoBoxStyle{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    width: 1000px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid rgb(190, 185, 185);
}

.checkBoxStyle{
    height: 25px;
    width: 25px;
}

.todoBoxOne{
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 0px 10px 0px 10px;
}

.listText {
   font-size: 25px;
   font-weight: bold;
   align-items: flex-start;
}

.todoSetBtn{
   display: flex;
   align-items: center;
   font-size: 25px;
   margin-left: 650px;
}

