.templateContainer{
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    border-radius: 5px;
    overflow: hidden;


    .templateTitle {
        background-color: rgb(241, 168, 168);
        color: white;
        height: 5rem;
        font-size: 7.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    } 

    .content {
        background-color: rgb(181, 192, 216);
    }
}
